:root {
        --fontSize__big: 2rem;
        --fontSize__h1: 1.5rem;
        --fontSize__h2: 1.25rem;
        --fontSize__h3: 1.125rem;
        --fontSize__normal: .938rem;
        --fontSize__small: .831rem;
        --fontSize__smaller: .75rem;
            
        --fontWeight__thin: 300;
        --fontWeight__slight: 400;
        --fontWeight__medium: 500;
        --fontWeight__semiBold: 600;

        --letterSpacing__h1: .7rem;
        --letterSpacing__h2: .4rem;

        --z-index__icon: 10;
        --z-index__fixed: 100;
        --z-index__modal: 1000:

        --mp-0-25: 0.25rem;
        --mp-0-75: 0.76rem;
        --mp-0-5: 0.5rem;
        --mp-1: 1rem;
        --mp-1-5: 1.5rem;
        --mp-2: 2rem;
        --mp-2-5: 2.5rem;
        --mp-3: 3rem;
        --mp-4: 4rem;
        --mp-5: 5rem:

        --color__blackA: #101010;
        --color__blackB: #20232a;
        --color__blackC: #231f20;
        --color__blackD: #282c34;
        --color__whiteA: #fff;
        --color__whiteB: #f0f2f5;
        --color__greenA: #009688;
        --color__greenB: #88c6be;
        --color__blueA: #097fec;
        --color__blueB: #79b6f2;

        --btn__large: 13px 27px;
        --btn__long: 10px 40px;
        --btn__small: 10px 12px;
        --btn__medium: 12px 22px;

        --icon__small: 4px
        --icon__medium: 6px 8px:
        --icon__large: 6px 12px:
    }

    @media screen and ( min-width: 968px ) {
        :root {
            --fontSize__big: 3rem;
            --fontSize__h1: 2.25rem;
            --fontSize__h2: 1.5rem;
            --fontSize__h3: 1.25rem;
            --fontSize__normal: 1rem;
            --fontSize__small: .875rem;
            --fontSize__smaller: .813rem;
        }
    }

    body {
        margin: 0;
        padding: 0;

        h1, h2, h3 {
            font-weight: var(--fontWeight__semiBold)
        }
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
